* {
  font-family: sans-serif, monospace;
}

:root {
  --content-width: 150px;
  --top-distance: 10px;
  --top-icon-size: 1.7rem;
  --top-icon-weight: bold;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sidebar */
.sidebar {
  height: calc(100vh - 50px);
  width: var(--content-width);
  position: fixed;
}

.sidebarTitle {
  font-size: 1rem;
  color: rgb(82, 73, 73);
  letter-spacing: 1px;
}

.sidebarList {
  list-style: none;
  padding: 0 3px;
  font-size: 1.125rem;
}

.sidebarLink {
  text-decoration: none;
}

.sidebarListItem {
  padding: 9px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarListItem.active {
  background: rgb(174, 226, 243);
  color: black;
}

.sidebarListItem:hover {
  background: rgb(186, 247, 204);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 1rem;
}

.signout-link {
  position: fixed;
  bottom: 20px;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

/* content holder */
.container {
  position: absolute;
  left: var(--content-width);
  top: 0px;
  padding: 3px 20px;
  margin: 3px 0;
}

/* elections page */
.election-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.election-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.election-img {
  position: relative;
  isolation: isolate;
}

.election-details {
  padding: 1rem;
}

.election-details h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0a09;
}

.election-details p {
  margin-bottom: 0.7rem;
  color: #78716c;
}

.election-details h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #78716c;
}

.election-details h5 span {
  font-size: 1.1rem;
  color: #0c0a09;
}

.btn {
  padding: 0.55rem 1rem;
  background: gray;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ebbaa9;
}

.status {
  padding: 4px 8px;
  border-radius: 5px;
  color: #fff;
}

.active {
  background-color: #28a745;
}

.inactive {
  background-color: #dc3545;
}