* {
  font-family: sans-serif, monospace;
}

:root {
  --content-width: 150px;
  --top-distance: 10px;
  --top-icon-size: 1.7rem;
  --top-icon-weight: bold;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sidebar */
.sidebar {
  height: calc(100vh - 50px);
  width: var(--content-width);
  position: fixed;
}

.sidebarTitle {
  font-size: 1rem;
  color: rgb(82, 73, 73);
  letter-spacing: 1px;
}

.sidebarList {
  list-style: none;
  padding: 0 3px;
  font-size: 1.1rem;
}

.sidebarLink {
  text-decoration: none;
}

.sidebarListItem {
  padding: 8px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarListItem.active {
  background: rgb(174, 226, 243);
  color: black;
}

.sidebarListItem:hover {
  background: rgb(186, 247, 204);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 1rem;
}

.signout-link {
  position: fixed;
  bottom: 20px;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

/* content holder */
.container {
  position: absolute;
  left: var(--content-width);
  top: 0px;
  padding: 5px 0;
  margin: 5px 0;
}
