{% extends '_base.html' %}

{% block title %} Elections {% endblock %}

{% block content %}
<h2 class="title">Elections</h2>

{% if elections %}
<div class="election-wrapper">
    {% for election in elections %}
    <div class="election-card">
        <div class="election-img">
            <img src="{{ election.elect_img.url }}" alt="election">
        </div>
        <div class="election-details">
            <h4>{{ election.name.title }}</h4>
            <h5>Start Date: <span>{{ election.start_date }}</span></h5>
            <h5>End Date: <span>{{ election.end_date }}</span></h5>
            <div class="link-btn">
                <button class="btn" value="{{ election.id }}">Results</button>
                <button class="btn">Vote</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="no-election">
    <h3>There are no Elections currently</h3>
    <p>If you are the site admin, login to the admin panel to add elections</p>
</div>
{% endif %}
{% endblock %}